body {
  font-family: 'Open Sans', sans-serif;
}

.rosado {
  background-color: #e83e8c;
}

.titulo {
  color: #707070;
}

.icons-section {
  background-color: #17A2B8;
  height: 170px;
  vertical-align: middle;
}

.iconos{
  padding-top: 60px;
  font-size: 1em;
}

.pagos {
  padding-top: 60px;
  font-size: 0.99em;
}

footer img {
  width: 53px;
  height: 100px;
}

footer {
  height: 170px;
}
